<html>
  <head>
    <title>
      Edit Profile
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% include ../partials/naCandidate %>
    <div class="container">
      <h2>Edit Profile</h2>
      <form action="/candidates/edit" method="POST">
        <label for="name">Name :</label><br>
        <input type="text" name="name" value="<%= candidate.name %>"/><br><br>

        <label for="gender">Gender :</label><br>
        <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br><br>

        <label for="age">Age :</label><br>
        <input type="text" name="age" value="<%= candidate.age %>" /><br><br>

        <label for="location">Location :</label><br>
        <input type="text" name="location" value="<%= candidate.location %>"/><br><br>

        <label for="email">Email :</label><br>
        <input type="text" name="email" value="<%= candidate.email %>" /><br><br>

        <label for="phone">Phone :</label><br>
        <input type="text" name="phone" value="<%= candidate.phone %>"/><br><br>

        <label for="expected_sallary">Expected Sallary :</label><br>
        <input type="text" name="expected_sallary" value="<%= candidate.expected_sallary %>" /><br><br>

        <label for="experience">Experience :</label><br>
        <input type="text" name="experience" value="<%= candidate.experience %>" placeholder="dalam Tahun"/><br><br>

        <label for="field_of_work">Field of Work :</label><br>
        <input type="text" name="field_of_work" value="<%= candidate.field_of_work %>" /><br><br>

        <label for="education">Education :</label><br>
        <select name="education">
            <option value="sma/smk">SMA / SMK</option>
            <option value="D3">D3</option>
            <option value="S1">S1</option>
            <option value="S2">S2</option>
        </select><br><br>

        <input type="submit" value="Edit Profile" />
      </form>
    </div>
  </body>
</html>
