<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Company's profile</title>
  </head>
  <body>

    <a href="/company/:id/edit">Edit Profile</a>


    <% for (var i = 0; i < jobs.Job_vacancies.length; i++) {%>
      <div>
        <%= jobs.Job_vacancies[i].name %>
        <%= jobs.Job_vacancies[i].field_of_work %>
        <%= jobs.Job_vacancies[i].salary %>
        <%= jobs.Job_vacancies[i].status %>
      </div>
    <% } %>

    <a href="/company/addvacancy/????">Add Vacancies</a>

    <table>
      <thead>
        <th> Name </th>
        <th> Age </th>
        <th> Location </th>
        <th> Email </th>
        <th> Field of Work </th>
        <th> Experience </th>
        <th> Apply to </th>
        <th> Action </th>
      </thead>

      <tbody>
        <% for (var i = 0; i < jobs.Job_vacancies.length; i++) {%>
          <% for (var j = 0; j < jobs.Job_vacancies[i].Candidates.length; j++) {%>
            <tr>
              <td> <%= jobs.Job_vacancies[i].Candidates[j].name %> </td>
              <td> <%= jobs.Job_vacancies[i].Candidates[j].age %> </td>
              <td> <%= jobs.Job_vacancies[i].Candidates[j].location %> </td>
              <td> <%= jobs.Job_vacancies[i].Candidates[j].email %> </td>
              <td> <%= jobs.Job_vacancies[i].Candidates[j].field_of_work %> </td>
              <td> <%= jobs.Job_vacancies[i].Candidates[j].experience %> </td>
              <td> <%= jobs.Job_vacancies[i].name %> </td>
              <td>
                <a href="/">Accept</a>
                |
                <a href="/">Decline</a>
              </td>
            </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>

  </body>
</html>
